<!--
This template uses ejs and HtmlWebpackPlugin to conditionally load some fake error tracking scripts
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <% if (htmlWebpackPlugin.options.errorTracking) { %>
  <script type="text/javascript">console.log('<%=htmlWebpackPlugin.options.errorTracking%>')</script>
  <% } %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Send polyfill only to those who need it -->
  <script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch"></script>
</head>
<body>
  <h1>Users</h1>
  <table>
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody id="users">

    </tbody>
  </table>
</body>
</html>
